.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.title {
  display: flex;
  font-weight: 700;
  font-size: 30px;
  justify-content: center;
  margin-top: 100px;
  font-family: "sans";
  color: #ffffff;
  font-size: 36px;
  line-height: 40px;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  padding: 15px 10px 15px 10px;
  border-radius: 5px;
  background-color: #18181b;

  color: black;
  justify-content: center;
  margin: 25px 200px 25px 200px;
}

.about-container .description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 975px;
}

.about-container .text-left {
  margin: 0 100px 0 30px;
  width: 900px;
  height: auto;
  font-family: "Alright Sans";
  color: white;
}

.about-container img {
  align-items: center;
  justify-content: center;
  height: 125px;
  width: 125px;
  margin: 10px 0 20px 20px;
  border-radius: 100px;
}

.about a {
    border-radius: 14px;
    font-family: serif;
    font-size: large;
    padding: 10px 20px 10px 20px;
    margin: 10px 0 10px 0;
    background-color: #fcd34d;
    color: black;
    justify-content: center;
    align-items: center;
  }
  
  .about a:hover {
    background-color: #3730a3;
    color: #f5f5f4;
    /* margin-bottom: 500px; */
  }