.about-outline {
  display: flex;
  width: auto;
  align-items: center;
  justify-content: center;
  margin-top: 50px
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  padding: 15px 10px 15px 10px;
  border-radius: 5px;
  background-color: #18181b;

  width: 870px;
  height: auto;
}

.title {
  display: flex;
  font-weight: bold;
  font-family: "sans";
  color: #ffffff;
  font-size: 36px;
  line-height: 40px;
  margin-top: 10px;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  color: black;
  justify-content: center;
  margin: 10px 0 0 80px;
  width: 920px;
}

.profile-text {
  margin: 0 100px 0 20px;
  width: auto;
  height: auto;
  font-family: "Alright Sans";
  color: white;
}

.profile img {
  align-items: center;
  justify-content: center;
  height: auto;
  width: 58%;
  margin: 10px 0 0 20px;
  border-radius: 100px;
  /* background-color: white; */
}

.about-container a {
  border-radius: 14px;
  font-family: serif;
  font-size: large;
  padding: 8px 16px 8px 16px;
  margin: 10px 0 10px 0;
  background-color: #fcd34d;
  color: black;
  justify-content: center;
  align-items: center;
}

.about-container a:hover {
  background-color: #6d28d9;
  color: #f5f5f4;
}

@media screen and (max-width: 768px) {
  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 15px 10px 15px 10px;
    border-radius: 5px;
    background-color: #18181b;
  
    width: 550px;
    height: auto;
  }

  .profile {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    color: black;
    justify-content: center;
    margin: 10px 0 0 80px;
    width: 920px;
  }

  .profile-text {
    margin: 0 100px 5px 20px;
    width: 450px;
    height: auto;
    font-family: "Alright Sans";
    color: white;
  }

  .profile img {
    align-items: center;
    justify-content: center;
    height: auto;
    width: 115px;
    margin: 10px 100px 10px 20px;
    border-radius: 100px;
    /* background-color: white; */
  }
}
