@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-image: url("/about-photos/background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: black;
  /* margin: 10px 40px 10px 40px; */
}

hr {
  margin-top: 80px;;
  border-color: black;
}
