.hero-outline {
  display: flex;
  flex-direction: column;
  background-image: url('/bg.jpg');
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 70%;
  height: 620px;
  transition: 0.1s linear;

  width: auto;
}

.hero-container {
  text-align: center;
  justify-content: center;
  margin: 180px 50px 34px 50px;
  color: #f5f5f5;
  /* background-color: white; */
}

.hero-container .title {
  justify-content: center;
  color: 	#daf7a6;
  font-weight: 700px;
  padding-bottom: 20px;
  font-size: 36px;
  /* width: 30%;
  background-color: wheat; */
}

.hero-outline a {
  border-radius: 9999px;
  font-family: serif;
  font-size: large;
  padding: 16px 32px 16px 32px;
  margin-top: 32px;
  margin-bottom: 120px;
  background-color: white;
  color: black;
}

.hero-outline a:hover {
  background-color: #ef4444;
  color: white;
}
