.hero-container {
  display: flex;
  flex-direction: column;
  background-image: url('/bg.jpg');
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 70%;
  height: 620px;
  transition: 0.1s linear;
}

.hero-container .text {
  text-align: center;
  margin: 180px 50px 34px 50px;
  color: #f1f5f9;
}

.hero-container .title {
  color: 	#daf7a6;
  font-weight: 700;
  padding-bottom: 20px;
  font-size: 36px;
}

.hero-container button {
  border-radius: 9999px;
  font-family: serif;
  font-size: large;
  padding: 16px 32px 16px 32px;
  margin-top: 32px;
  margin-bottom: 120px;
  background-color: white;
  color: black;
}

.hero-container button:hover {
  background-color: #ef4444;
  color: white;
}
