.projects-outline {
  display: flex;
  width: auto;
  align-items: center;
  justify-content: center;
  margin-top: 20px
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #18181b;
  width: 870px;
}

.projects-title {
  color: white;
  font-size: 36px;
  font-weight: bold;
  margin: 15px 0 20px 0;
}

.item-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: center;
  justify-content: start;
  
  margin-bottom: 30px;
}

.item {
  display: flex;
  flex-direction: column;
  /* align-items: start; */
  border-radius: 5px;
  height: 180px;
  width: 375px;
  padding: 0 10px 10px 10px;
  color: #ffffff;
  /* margin: 8px; */
}

/* The magic part: applying auto margins to the last child */
.last-child {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #18181b;
    width: 600px;
  }

  .item-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    align-items: center;
    justify-content: start;
    
    margin-bottom: 30px;
  }

  .item {
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    border-radius: 5px;
    height: 180px;
    width: 490px;
    padding: 0 10px 10px 10px;
    color: #ffffff;
    /* margin: 8px; */
  }
}

@media screen and (max-width: 355px) {
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #18181b;
    width: 325px;
  }

  .item-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    align-items: center;
    justify-content: start;
    
    margin-bottom: 30px;
  }

  .item {
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    border-radius: 5px;
    height: 180px;
    width: 275px;
    padding: 0 10px 10px 10px;
    color: #ffffff;
    /* margin: 8px; */
  }
}