.projects-outline {
  display: flex;
  width: auto;
  align-items: center;
  justify-content: center;
  margin-top: 20px
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #18181b;
  width: 870px;

  /* margin: 0px 290px 0px 290px; */
}

.projects .title {
  color: white;
  font-size: 36px;
  font-weight: bold;
  margin: 15px 0 20px 0;
}

.projects .item-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: center;
  justify-content: start;
  /* width: 850px; */
  /* gap: 1rem; */
  margin-bottom: 30px;
  /* margin: 0 300px 0 300px; */
}

.projects .item-container .item {
  display: flex;
  flex-direction: column;
  /* align-items: start; */
  border-radius: 5px;
  height: 180px;
  width: 375px;
  padding: 0 10px 10px 10px;
  color: #ffffff;
  /* margin: 8px; */
}

/* The magic part: applying auto margins to the last child */
.last-child {
  margin-left: auto;
  margin-right: auto;
}
