.title {
    display: flex;
    font-weight: 700;
    font-size: 30px;
    justify-content: center;
    margin-top: 50px;
}

.about-container {
    display: flex;
    align-items: center;
}

.about-container .text-left {
    margin: 50px 75px 0 20px;
}

.about-container .text-right {
    text-align: left;
    margin: 50px 20px 0 75px;
}

.about-container img {
    align-items: center;
    justify-content: center;
    height: auto;
    width: 450px;
    margin: 20px 20px 20px 20px;
}
