@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--background-end-rgb));
  font-family: "Euclid Circular A", "Poppins";
  background: linear-gradient(
    to bottom,
    /* rgb(24, 24, 27) 0%,
    rgb(24, 24, 27) 34%, */
    white 0%,
    white 62%,
    rgb(24, 24, 27) 62%,
    rgb(24, 24, 27) 100%
  );

  /* background-image: url("/about-photos/background.avif");
  background-repeat: no-repeat; */
  /* margin: 32px; */
}

hr {
  margin-top: 80px;
  border-color: white;
}
