.skills-outline {
  display: flex;
  width: auto;
  align-items: center;
  justify-content: center;
  margin-top: 20px
}

.skills {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: #18181b;
  align-items: center;
  /* margin: 30px 290px 30px 290px; */

  height: 370px;
  width: 870px;
  /* padding: px; */
}

.skills .title {
  color: white;
  font-size: 36px;
  font-weight: bold;
  margin: 30px 0 15px 0;
}

.skills .skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0.75rem;
  align-items: center;
  justify-content: center;

  border-radius: 5px;
  height: 250px;
  width: 830px;
  padding: 5px 0 5px 10px;
  margin: 0 10px 40px 0;
}

.skills .skills-container .skills-card {
  display: flex;
  flex-direction: column;
  height: 115px;
  width: auto;
  /* margin: 0 10px 0x 0; */
  align-items: center;
  padding-top: 20px;
  border-radius: 5px;
  background-color: #f5f5f5;
  color: black;
}

.skills .skills-container .skills-card img {
  height: 60px;
  width: auto;
  margin-bottom: 10px;
}

.skills .skills-container .skills-card p {
  color: black;
}

.skills-button {
  border-radius: 9999px;
  font-family: serif;
  font-size: large;
  padding: 16px 32px 16px 32px;
  margin-bottom: 70px;
  background-color: #38bdf8;
  color: black;
}

.skills-button:hover {
  background-color: #ef4444;
  color: white;
}